API_PORT=3001

POSTGRES_HOST=booksHost
POSTGRES_PORT=5432
POSTGRES_DB=booksDb
POSTGRES_USER=booksUser
POSTGRES_PASSWORD=booksPass

SMTP_HOST=smtp.host.here
SMTP_PORT=123
SMTP_USER=email@mail.test
SMTP_PASSWORD=password
SMTP_FROM=email@mail.test

JWT_SECRET=yourSecretKey